<div class="navbar-link text-pretty body-text font-light after:bg-pink-500 dropdown-container">
  <button class="dropdown-trigger">Experiments</button>

  <div class="dropdown-menu">
    <%= content %>
  </div>
</div>
