<blockquote class="p-4 bg-indigo-100 rounded flex gap-1">
  <p class="text-lg leading-6">👉</p>
  <p class="text-pretty text-sm leading-6 body-text font-light italic">
      <%= content %>
  </p>
</blockquote>
