<div class="flex gap-1 items-end w-full">
  <p class="border-b-4 border-l-4 border-indigo-500 text-pretty leading-8 title-text text-2xl rounded-bl pl-3 pb-1 font-medium">
    <%= content %>
  </p>
  <div class="flex grow border-b-4 border-indigo-500 border-dotted"></div>
</div>
