<details class='mb-4'>
  <summary>
    <p class='text-base'>Here are some of my <span class='underline underline-offset-4 decoration-violet-500'>experiences</span></p>
  </summary>
  <div class='pt-2'>
  </div>
</details>
