<article class='rounded border border-stone-700 flex flex-col grow p-4 gap-2'>
  <div class='flex gap-2 items-baseline'>
    <%= icon(icon_family, icon_name, class: "text-#{icon_color} text-lg") %>
    <h2 class='title-text font-bold'>
      <%= title %>
    </h2>
  </div>
  <div>
    <%= content %>
  </div>
</article>
