<div class='flex flex-col sm:flex-row gap-2 px-8 experiences-drawer mb-8' data-about-section-target='experiencesDrawer'>
  <% experiences.each do |experience| %>
    <%= render(Home::ExperienceCard.new(experience)) %>
  <% end %>
</div>
