<section class='w-full'>
  <heading class='flex flex-col items-center sm:flex-row sm:items-end gap-4'>
    <%= image_tag('avatar.png', class: 'w-32 h-32 rounded-full border border-stone-700') %>
    <div class='flex flex-col items-center sm:items-start text-center'>
      <div class='flex gap-2 font-bold text-3xl leading-10 text-balance items-baseline'>
        <h1 class='title-text'>
          <%= icon('fa-solid', 'lemon', class: 'text-lime-600')%>
          My personal whatever blog
        </h1>
      </div>
      <h3 class='font-light text-lg italic title-text'>By ✨ Gustavo Chen ✨</h3>
    </div>
  </heading>

  <hr class='mt-4 mb-16 border-stone-700'>

  <h3 class='text-lg mb-2'>👇 Here's what i've been up to:</h3>

  <ol class='list-decimal translate-x-6'>
    <% @posts.each do |post| %>
      <li class='underline decoration-wavy underline-offset-8 decoration-violet-500 hover:decoration-purple-800'>
        <%= link_to post_path(post) do %>
          <%= post.title %>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>
