.code-output-container {
  overflow: hidden;
  padding-bottom: 5px;
}

.output-line {
  transform: translateY(-100%);
  transition: transform 0.35s cubic-bezier(0.25, 0.8, 0.25, 1.4);
  font-family: "JetBrains Mono", monospace !important;
}

.output-line.is-visible {
  transform: translateY(0);
}

code {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
