.navbar-link {
  display: inline-block;
  position: relative;
}

.navbar-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 4px;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transition: transform 0.15s ease-out;
}

.navbar-link:hover::after {
  transform: scaleX(0.8);
}
